/*#main-container > * {
    border: 1px solid green;
    clear:both;
    margin-bottom: 10px;
}*/

#main-container > * > h2 {
    font-style: italic;
}

#main-container > div:first-child > div {
    border: 1px solid red;
    width: 48%;
    display: inline-block;
    text-align: center;
    transition: all .5s;
}

#main-container > div:first-child > div:hover {
    background-color: rgb(200, 220, 250);
    transition: all .75s;
}

.exergue {
    font-family: Simplicity;
    font-size: 40px;
    margin:0;
}

#heure_venue {
    width:30%;
    text-align: center;
    font-size: 50px;
    font-family: "Amatic SC"
}

#menu-bar {
	text-align: center;
	padding: 10px;
	background-color: limegreen;
}

	#menu-bar > a {
		display: inline;
		background-color: none;
		
	}