html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

a { text-decoration: none; }
	a:visited { color: black; }

body {
	margin: auto;
	max-width: 600px;
	background-color: #F8F8F8;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
	/* border: 1px solid black; */
}

header {
	background-color: rgb(200, 220, 250);
	padding: 16px 24px;
}

	header > h1 {
		font-family: 'Amatic SC' 'Open Sans' Helvetica Arial sans-serif;
		font-size: 6rem;
		margin: 0;
        text-align: center;
		/* border: 1px solid red; */
	}

#main-container {
	padding: 20px 5%;
	text-align: center;
	height: 600px;
	overflow: auto;
	background-color: rgb(244, 240, 240);
	/* border: 1px solid green; */
}

	#main-container > div {
		/* border: 1px solid red; */
	}
	
		#main-container > div > a {
			display: block;
			width: 90%;
			padding: 24px 0;
			margin: auto;
			font-size: 2rem;
			background-color: #FF845C;
			/* border: 1px solid green; */
		}

	#main-container table {
		border-spacing: 20px;
		margin-bottom: 24px;
		}
	
	#main-container .menu-formule {
		font-size: 1.6rem;
		width: 45%;
		padding: 16px;
		background-color: rgb(200, 220, 250);
	}

#menu-bar {
	text-align: center;
	padding: 8px;
	background-color: #FF9775;
}

	#menu-bar > a > span {
		display: inline-block;
		width: 112px;
		height: 112px;
		line-height:112px;
		background-color: rgb(248, 230, 186);
		
	}

	#menu-bar > a:first-child {
		float: left;
		margin-left: 10px;
	}
	
	#manger-button {
		display: inline-block;
		width: 112px;
		height: 112px;
		border-radius: 50%;
		background-color: rgb(248, 230, 186);
		line-height:112px;
		transition: all .7s;
	}
		#manger-button:hover {
		transform: rotate(360deg);
		background-color: rgb(200, 220, 250);
		transition: all .5s;
		}

	#menu-bar > a:last-child {
		float: right;
		margin-right: 10px;
	}

hr {
    margin-top: 2em;
    margin-bottom: 1em;
    height: 5px;
    border-color: black;
    background-color: black;
}